<div class="container-fluid">
    <div class="clearfix">
    <h3>Maximum Toss Winners</h3>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <canvas id="line" class="chart chart-bar" chart-data="chartParams.data" chart-labels="chartParams.labels" chart-colors="chartParams.colors" chart-series="chartParams.series" chart-options="chartParams.options" chart-dataset-override="chartParams.datasetOverride" chart-click="onClick">
            </canvas>
        </div>
    </div>
</div>