<div layout="column" flex>
    <!-- <md-toolbar layout="row" layout-align="center center">
        <section layout-align="start center" layout-fill flex>
            <md-button hide-gt-sm ng-click="vm.toggleItemsList()" aria-label="Menu">
                <i class="material-icons">menu</i>
            </md-button>
        </section>
        <section layout-align="end center">
            <md-button class="toolbar-button" aria-label="Search">
                <i class="material-icons">search</i>
            </md-button>
            <md-button class="toolbar-button" aria-label="Notifications">
                <i class="material-icons">notifications</i>
                <span class="notifications-label">7</span>
            </md-button>
            <md-button class="toolbar-button" aria-label="Settings" ng-click="vm.toggleRightSidebar()">
                <i class="material-icons">menu</i>
            </md-button>
        </section>
    </md-toolbar> -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Ipl Data</a>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="home.teams">Teams</a></li>
                    <li><a ui-sref="home.matches">Matches</a></li>
                    <li><a ui-sref="home.runs">Runs</a></li>
                </ul>
            </div>
        </nav>
        <hr>
    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>

