<div class="container-fluid">
    <div class="clearfix">
        <h3>Maximum Toss Winners</h3>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <simple-bar arr="tosses" multicolor="true"></simple-bar>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h3>Runs Per Over By Teams Across Seasons</h3>
            <season-runs></season-runs>
        </div>
    </div>
    <div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Score Distribution for teams</h3>
            <box-plot></box-plot>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Total Runs Scored By each team</h3>
            <sun-burst></sun-burst>
        </div>
    </div>
    <div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Toss decisions accross seasons</h3>
            <canvas id="horizontal-bar" class="chart chart-horizontal-bar" chart-data="data" chart-series="series" chart-labels="labels" chart-options="options">
            </canvas>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h3>Matches played accross each season</h3>
            <simple-bar arr="matchesPlayed" multicolor="false"></simple-bar>
        </div>
    </div>
    <div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Total Runs scored by all teams</h3>
            <simple-bar arr="totalRuns" multicolor="false"></simple-bar>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Favourite Grounds</h3>
            <simple-bar arr="favGrounds" multicolor="false"></simple-bar>
        </div>
    </div>
    <div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Maximum man of the matches</h3>
            <simple-bar arr="playerOfMatch" multicolor="false"></simple-bar>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
        
    </div>
</div>