<div class="container-fluid">
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Runs Per Over By Teams Across Seasons</h3>
            <season-runs></season-runs>
        </div>
    </div>
    <div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Score Distribution for teams</h3>
            <box-plot></box-plot>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Total Runs Scored By each team</h3>
            <sun-burst></sun-burst>
        </div>
    </div>
</div>